* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  background-color: hsl(56deg 98% 57%);
  color: #333;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

button {
  padding: 6px 15px;
  box-shadow: 3px 3px 2px 1px rgb(24, 23, 23);
  cursor: pointer;
}

button:hover {
  background-color: rgb(165, 161, 161);
  color: rgb(238, 236, 236);
  transform: scale(0.98);
}

#lb-main {
  height: 100%;
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.structure {
  margin-top: 20px;
}

.recent-scores {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#table {
  margin: 40px 0;
  padding: 0;
  list-style: none;
  color: black;
  border: solid 4px black;
  font-weight: bold;
}

#table li {
  text-align: start;
  padding: 8px 10px;
}

#table li:nth-child(even) {
  background-color: rgb(231, 227, 227);
}

#form-section h2 {
  margin-bottom: 40px;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  margin: 0 auto;
}

input {
  padding: 7px 10px;
  border-radius: 0;
  outline: none;
  color: black;
  border: solid 4px black;
  font-size: 17px;
}

#error-msg {
  color: rgb(228, 28, 28);
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  transition: all ease-in-out;
  display: none;
}

#form-section button {
  align-self: flex-end;
  margin-top: 5px;
}

@media all and (min-width: 768px) {
  h1 {
    text-align: start;
    font-size: 35px;
  }

  .structure {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  #form {
    width: 70%;
    margin: 0 auto;
  }

  input {
    padding: 10px;
  }

  .recent-scores {
    gap: 20px;
  }
}
